<div class="container">
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
  
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://img.freepik.com/free-photo/wedding-reception-hall-with-elegant-table-setting-with-candles_181624-9932.jpg?t=st=1731684999~exp=1731688599~hmac=4eacb5d593270da855ac92da548fc6e0ebca5d5c9f5cc904f43a3ebda32004ff&w=900" class="d-block w-100" alt="First Slide">
          <div class="carousel-caption d-none d-md-block">
            <h5>Your Ideal Event Location</h5>
            <p>Convenient, well-equipped halls designed to host memorable events.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://img.freepik.com/free-photo/empty-seats-row-convention-center_637285-6712.jpg?t=st=1731688824~exp=1731692424~hmac=3a08cb5ec2a34c22af3929a84f3a9023964238ce9a51d799e0abc32652cf9284&w=900" class="d-block w-100" alt="Second Slide">
          <div class="carousel-caption d-none d-md-block">
            <h5>Premium Event Venues</h5>
            <p>Elevate your event with top-notch spaces and seamless service.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://img.freepik.com/premium-photo/room-with-large-carpet-large-screen-with-sign-it_133748-29513.jpg?w=900" class="d-block w-100" alt="Third Slide">
          <div class="carousel-caption d-none d-md-block">
            <h5>Versatile Spaces for Every Occasion</h5>
            <p>Adaptable venues with all the right features to bring your vision to life.</p>
          </div>
        </div>
      </div>
  
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
<div>
  

  